// $maincolor: #00ff37;
// $hoverColor: #35ff5d;green
$maincolor: #006eff;
$hoverColor: #0090ff;
$tagColor: rgb(140, 209, 255);
// $maincolor: #ff4444;
// $hoverColor: #ff6060;red
$textGray : #6b6b6b;
$borderGray: #e2e2e2;
$mainborder: 1px solid $maincolor;
@import url("https://fonts.googleapis.com/css?family=Roboto|Muli|Dosis|Quicksand|Josefin+Sans");
@mixin boxShadow($w, $x, $y, $z){
  -moz-box-shadow: $w $x $y $z;
  -webkit-box-shadow: $w $x $y $z;
  -ms-box-shadow: $w $x $y $z;
  box-shadow: $w $x $y $z;
};
@mixin placeholder($color){
  &::-webkit-input-placeholder{
    color: $color;
  }
  &::-moz-placeholder{
    color: $color;
  }
  &:-ms-input-placeholder{
    color: $color;
  }
  &:-moz-placeholder{
    color: $color;
  }
  &::placeholder{
    color: $color;
  }
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}

body{
  font-size: 16px;
}//body

body.page-profile{
  .main{
    .site-content{
      width: 75%;
    }//.site-content

    .lsidebar{
      display: none;
    }//.lsidebar

    .sidebar{

    }//.sidebar
  }//.main
}//body.page-profile

header{
  padding: 1em 0;
  background-color: $maincolor;
  text-align: right;
  color: white;
  font-family: 'Muli';
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.25em;
  .welcome{
    float: left;
    margin: 0 0.5em;
    a{
      text-decoration: none;
      color: white;
      &:hover, &:active{
        cursor: pointer;
      }//hover
    }//a
  }//.welcome
  .main-navigation{
    display:inline-block;
    margin: 0 0 0 0.5em;
    ul{
      list-style: none;
      position: relative;
      top: -0.15em;
      li{
         display: inline;
        a{
          text-decoration: none;
          color: white;
          padding: 1.1em 0.5em;
          &:hover, &:active{
            background-color: $hoverColor;
          }//hover
        }//a
        &:last-child{
          display: none;
        }//last-child
      }//li
    }//ul
  }//.main-navigation
  .mob-search{
    display: none;
    i{
      right: 1em;
      position: relative;
      font-size: 1.3em;
      color: white;
      &:hover{
        cursor: pointer;
      }//hover
    }//i
    form{
      position: absolute;
      left: 0;
      top: 3.2em;
      width: 100%;
      display: none;
      z-index: 99;
      input{
        padding: 1em;
        width: 100%;
        border: 0;
        @include boxShadow(0, 0, 10px,$maincolor);
        @include placeholder($maincolor);
      }
      input[type="button"]{
        display:none;
      }//input
    }//form
  }//.mob-search
  .mobile-navigation{
    display: none;
      i{
        right: 0.5em;
        position: relative;
        font-size: 1.3em;
        &:hover{
          cursor: pointer;
        }//hover
      }//i
      .fa-times{
        color: #f24d4d;
      }//fa-times
      ul{
        list-style: none;
        position: absolute;
        right: -48em;
        text-align: center;
        top: 3.2em;
        width: 100%;
        overflow: auto;
        li{
          width: 100%;
          background-color: rgba(0, 91, 122, 0.9);
          padding: 0.5em;
          a{
            text-decoration: none;
            color: white;
          }//a
        }//li
      }//ul
  }//.mobile-navigation
  #access-forms{
    display: none;
    position: absolute;
    top: 2.5em;
    right: 0;
    width: 15em;
    float: right;
    text-align: center;
    margin: 1em;
    z-index: 9;
    background-color: white;
    @include boxShadow(0, 0, 10px, $maincolor);

    h2{
      font-size:1em;
    }

    #login-form{
      display: block;
    }//#login-form

    #signup-form{
      display: none;
    }//#signup-form

    #signup-form, #login-form{
      padding: 1em 0.5em;
      border: $mainborder;
      color: black;
      span{
        font-size: 0.7em;
        button{
          background-color: transparent;
          text-decoration: none;
          border: none;
          color: $maincolor;
          &:hover, &:active{
            color: grey;
            cursor: pointer;
          }//hover
        }//a
      }//span
      form{
        margin: 1em 0 0;
      }
    }//#signup-form, #login-form

    input{
      width: 100%;
      padding: 0.5em 1em;
      margin: 0.5em 0;
      border: $mainborder;
      // @include boxShadow(0, 0, 10px, #777777);
      @include placeholder ($maincolor);
    }//input

    input[type="button"]{
      display: inline-block;
      width: auto;
      clear: both;
      padding: 0.5em 2em;
      color: white;
      border: $mainborder;
      background-color: $maincolor;
      &:hover, &:active{
        background-color: white;
        color: $maincolor;
        cursor: pointer;
      }//hover
    }//input[type=button]

  }//.access-form
}//header

.quick-options{
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 2;
    right: -25em;

    .opt-shadow{
      @include boxShadow(0, 0, 10px, $maincolor);
    }//.opt-shadow

    .option{
        background-color: $maincolor;
        border: 1px solid $hoverColor;
        width: 25em;
        position: relative;
    }//.option

    .fa-pencil-alt, .fa-search,.fa-times{
      background-color: $maincolor;
      position: absolute;
      left: -1.75em;
      padding: 0.5em;
      top: -0.05em;
      color: white;
      border-top-left-radius: 1em;
      border-top: 1px solid $hoverColor;
      border-left: 1px solid $hoverColor;
      border-bottom: 1px solid $hoverColor;
      // @include boxShadow(0, 0, 10px, $maincolor);
      &:hover, &:active{
        cursor: pointer;
        background-color: $hoverColor;
      }//hover
    }//.fa-pencil-alt

  .quick-question{
    top:-0.7em;
    padding: 1em;
    text-align: center;
    h2{
      color: white;
      font-size: 1em;
    }//h2
    form{
      input{
        display: block;
        margin: 1em 0;
        border: 0;
        @include placeholder ($maincolor);
      }
      input[type="text"]{
        padding: 1em;
        width: 100%;
      }
      input[type="button"]{
        padding: 0.5em 1em;
        color: $maincolor;
        border: 1px solid white;
        &:hover, &:active{
          background-color: $maincolor;
          color: white;
          cursor: pointer;
        }//hover
      }
      textarea{
        width: 100%;
        height: 6em;
        border: 0;
        padding: 1em;
        @include placeholder ($maincolor);
      }
    }//form
  }//.quick-question

  .quick-search{
    height: 3em;
    form{
      input{
        padding: 1.1em;
        border: 0;
        position: relative;
        top: 0.1em;
        left: 0.2em;
        width: 25em;
      }//input
      input[type="submit"]{
        display: none;
      }
    }//.form
  }//.quick-search

}//.quick-options

.main{
  width: 100%;
  height: auto;
  margin: 4em 0 0;
  .site-content{
    width: 55%;
    float: left;
    padding: 2em 1em;

    .hPostQues{
      display: inline-block;
      text-align: left;
      position: relative;
      top: 1.5em;
      a{
        background-color: $maincolor;
        border: $mainborder;
        color: white;
        text-decoration: none;
        padding: 0.5em 0.9em;
        border-radius: 0.2em;
        &:hover, &:active{
          background-color: white;
          color: $maincolor;
          @include boxShadow(0, 0, 10px, $maincolor);
        }//&:hover, &:active
      }//a
    }//.hPostQues

    .pageTitle{
      color: $textGray;
      margin: 0 0 1em 0;
      font-size: 1.3em;
    }

    .single-question{
      border-top: 1px solid $borderGray;
      padding: 1em 0;
      display: flex;
      .q-meta{
        display:flex;
        ul{
          display:flex;
          li{
            display: inline-block;
            text-align: center;
            font-size: 1.2em;
            a{
              display: block;
              color: $textGray;
              text-decoration: none;
              padding: 0.1em 0.3em;
              margin: 0 0.2em;
              font-size: 0.7em;
              // font-family: sans-serif;
              &:first-child{
                font-size: 0.6em;
              }//&:first-child
              &:last-child{
                border: 1px solid $borderGray;
              }
            }//span
          }//li
          .liked{
              background-color: #f24d4d;
              color: white;
              border: 1px solid #f24d4d!important;
          }
          .answered{
            background-color: #49ff68;
            color: white;
            border: 1px solid #49ff68!important;
          }
          .viewed{
            background-color: $hoverColor;
            color: white;
            border: 1px solid $hoverColor!important;
          }
        }//ul
      }
      .q-details{
        display: inline-block;
        padding: 0 0.2em;
        width: auto;
        overflow: visible;
        word-wrap: break-word;
        .posted-on{
          font-size: 0.7em;
          float: right;
          display: block;
          width: 100%;
          text-align: right;
          margin: 0 1.4em 0 0;
          a{
            color: #f24d4d;
          }//a
        }//.posted-on
        .question-title{
          padding: 0 0 0 1em;
          a{
            text-decoration: none;
            color: $maincolor;
            font-size: 0.9em;
            font-family: sans-serif;
          }
        }//.question-title
        .tags{
          float: right;
          margin: 1em;
          text-align: right;
          li{
            list-style: none;
            display: inline-block;
            margin: 0.4em 0;
            a{
              color: white;
              text-decoration: none;
              font-family: sans-serif;
              font-size: 0.8em;
              padding: 0.3em;
              background-color: $tagColor;
            }
          }//li
        }//.tags
      }//.q-details
      &:last-child{
        border-bottom: 1px solid $borderGray;
      }//last-child
    }//.single-question

    #hQuestions{
      padding: 0.1em 0 0;
      .tab-cont{
        background-color: white;
        text-align: right;
        .ui-tabs-active{
          background-color: white;
          a{
            color: $maincolor;
            background-color: white;
          }//a
        }//.ui-tabs-active
        li{
          display: inline-block;
          margin: 0 0 0 0.2em;
          a{
            display: inline-block;
            text-decoration: none;
            color: white;
            background-color: $maincolor;
            padding: 0.2em 0.6em;
            border: 1px solid $maincolor;
            border-radius: 0.3em;
          }//a
        }//li
      }//ul
      .tab{
        background-color: white;
        padding: 1em 0;
        color: $maincolor;
      }//.tab
    }//#hQuestions
  }//.site-content

  .lsidebar{
    width: 20%;
    float: left;

    #side-access-forms{
      width: 100%;
      text-align: center;
      margin: 40% 0 0;
      background-color: white;
      h2{
        font-size:1em;
      }

      #side-login-form{
        display: block;
      }//#side-login-form

      #side-signup-form{
        display: none;
      }//#side-signup-form

      #side-signup-form, #side-login-form{
        padding: 1em 0.5em;
        border-top: $mainborder;
        border-bottom: $mainborder;
        border-right: $mainborder;
        color: black;
        position: fixed;
        width:20%;
        span{
          font-size: 0.7em;
          button{
            background-color: transparent;
            text-decoration: none;
            border: none;
            color: $maincolor;
            &:hover, &:active{
              color: grey;
              cursor: pointer;
            }//hover
          }//a
        }//span
        form{
          margin: 1em 0 0;
        }
      }//#side-signup-form, #login-form

      input{
        width: 100%;
        padding: 0.5em 1em;
        margin: 0.5em 0;
        border: $mainborder;
        // @include boxShadow(0, 0, 10px, #777777);
        @include placeholder ($maincolor);
      }//input

      input[type="button"]{
        display: inline-block;
        width: auto;
        clear: both;
        padding: 0.5em 2em;
        color: white;
        border: $mainborder;
        background-color: $maincolor;
        &:hover, &:active{
          background-color: white;
          color: $maincolor;
          cursor: pointer;
        }//hover
      }//input[type=button]

    }//.access-form

    .short-profile{
      z-index: 999;
      width: 20%;
      position: fixed;
      background-color: white;
      border-top: 1px solid $hoverColor;
      border-bottom: 1px solid $hoverColor;
      border-right: 1px solid $hoverColor;

      .short-profile-picture{
        width: 7em;
        height: 7em;
        padding: 0.4em;
        margin: 0.5em auto;
        border: 1px solid $hoverColor;
        border-radius: 100em;
        .profile-image{
          background-image: url('/images/rubix.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 100%;
          width: 100%;
        }//.profile-image
      }

      .profile-info{
        ul{
          text-align: center;
          list-style: none;
          li{
            color: $textGray;
            margin: 0.7em 0;
            a{
              color: $maincolor;
              text-decoration: none;
              &:hover, &:active{
                text-decoration: underline;
              }//&:hover, &:active
            }//a
            i{
            }
            &:nth-child(2){
                i{
                  color: $maincolor;
                }
            }
            &:nth-child(3){
                i{
                  color: #ffb23f;
                }
            }
            &:nth-child(4){
                i{
                  color: #a954ff;
                }
            }
            &:nth-child(5){
                i{
                  color: #49ff68;
                }
            }
            &:nth-child(6){
                i{
                  color: #f24d4d;
                }
            }
            span{
              color: $textGray;
              font-size: 0.8em;
            }//span
          }//li
        }//ul
      }//.profile-info

    }//.short-profile

  }//.lsidebar

  .side-bar{
    width: 25%;
    float: right;
    border-left: 1px solid #e2e2e2;
    margin: 0.3% 0;
    .hot-questions{
      padding: 1em;
      h3{
        font-family: 'Muli';
        color: $textGray;
        text-align: center;
        font-size: 1em;
      }//h2
      .fa-gripfire{
        color: #f24d4d;
      }//fa-gripfire
      ul{
        list-style: none;
        font-size: 0.8em;
        text-align: left;
        li{
          padding: 0.5em 0;
          &:hover, &:active{
              a{
                  text-decoration: underline;
                  color: #848484;
              }//a
          }//hover
          a{
              text-decoration: none;
              color: $maincolor;
          }//a
        }//li
      }//ul
    }//hot-questions
  }//.side-bar

  .question-form{
    form{
      label{
        color: $textGray;
        // font-size: 1.3em;
      }//label
      input[type="button"]{
        display: inline-block;
        width: auto;
        background-color: $maincolor;
        color: white;
        padding: 0.5em 1em;
        float:right;
        &:hover, &:active{
          color: $maincolor;
          background-color: white;
          cursor: pointer;
        }//&:hover, &:active
      }//type:button
      input, textarea{
        @include placeholder($maincolor);
        border: $mainborder;
        padding: 1em 0.2em;
        margin: 0 0 1em 0;
        width: 100%;
      }//input, textarea
    }//form
  }//.question-form

  .profile-page-cont{
  }//.profile-page-cont

}//.main


footer{
  width: 100%;
  background-color: $maincolor;
  color: white;
  text-align: center;
  clear: both;
  p{
    padding: 1em 0;
  }
}

@media screen and ( max-width: 935px ){
  header{
    .main-navigation{
      ul{
        li{
          &:last-child{
            display: inline;
          }
        }
      }
    }//.main-navigation
  }//header

  .main{
    .site-content{
      width: 75%;
    }//site-content

    .lsidebar{
      display: none;
    }
  }//main

}//@media screen and ( max-width: 935px )

@media screen and ( max-width: 768px ){

  body.page-profile{
    .main{
      .site-content{
        width: 100%;
      }//.site-content

      .lsidebar{
        display: none;
      }//.lsidebar

      .sidebar{

      }//.sidebar
    }//.main
  }//body.page-profile

  header{
    .welcome{
      font-size: 1.4em;
    }
    .main-navigation{
      display: none;
    }//.main-navigation
    .mobile-navigation{
      display: inline-block;
    }//.mobile-navigation
    .mob-search{
      display: inline-block;
    }//.mob-search
  }//header

  .quick-options{
    display: none;
  }//quick-options

  .main{
    .site-content{
      width:100%;

      .hPostQues{
        display: block;
        float: none;
        top: 0;
        text-align: right;
        margin: 1em 0;
        a{
        }//a
      }//.hPostQues

      #hQuestions{
        .tab{
          .single-question{
            display: block;
            .q-meta{
              ul{
                display: block;
                width: 100%;
                text-align: center;
              }//ul
            }//.q-meta
            .q-details{
              .posted-on{
                float: none;
                text-align: center;
                margin: 0;
              }//.posted-on
              .question-title{
                margin: 1em 0 0;
                padding: 0;
              }
              .tags{
                float: none;
                margin: 1em 0;
                text-align: center;
              }//.tags
            }//.q-details
          }//.single-question
        }//.tab
      }//#hQuestions

    }//.site-content
    .side-bar, .lsidebar{
      display: none;
    }//.side-bar
  }//.main

}//@media screen and (max-width: 768px)
