// $maincolor: #00ff37;
// $hoverColor: #35ff5d;green
$maincolor: #0090ff;
$hoverColor: #00d8ff;
// $maincolor: #ff4444;
// $hoverColor: #ff6060; red
$mainborder: 1px solid $maincolor;
@import url("https://fonts.googleapis.com/css?family=Roboto|Muli|Dosis|Quicksand|Josefin+Sans");
@mixin boxShadow($w, $x, $y, $z){
  -moz-box-shadow: $w $x $y $z;
  -webkit-box-shadow: $w $x $y $z;
  -ms-box-shadow: $w $x $y $z;
  box-shadow: $w $x $y $z;
};
@mixin placeholder($color){
  &::-webkit-input-placeholder{
    color: $color;
  }
  &::-moz-placeholder{
    color: $color;
  }
  &:-ms-input-placeholder{
    color: $color;
  }
  &:-moz-placeholder{
    color: $color;
  }
  &::placeholder{
    color: $color;
  }
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}

body{
  font-size: 16px;
}

header{
  padding: 1em 0;
  background-color: $maincolor;
  text-align: right;
  color: white;
  font-family: 'Muli';
  .welcome{
    float: left;
    margin: 0 0.5em;
    a{
      text-decoration: none;
      color: white;
      &:hover, &:active{
        cursor: pointer;
      }//hover
    }//a
  }//.welcome
  .main-navigation{
    display:inline-block;
    margin: 0 0.5em;
    ul{
      list-style: none;
      position: relative;
      top: -0.15em;
      li{
       display: inline;
        a{
          text-decoration: none;
          color: white;
          padding: 1.1em 0.5em;
          &:hover, &:active{
            background-color: $hoverColor;
          }//hover
        }//a
      }//li
    }//ul
  }//.main-navigation
  .mob-search{
    display: none;
    i{
      right: 1em;
      position: relative;
      font-size: 1.3em;
      color: white;
      &:hover{
        cursor: pointer;
      }//hover
    }//i
    form{
      position: absolute;
      left: 0;
      top: 3.4em;
      width: 100%;
      display: none;
      input{
        padding: 1em;
        width: 100%;
        border: 0;
        @include boxShadow(0, 0, 10px,$maincolor);
        @include placeholder($maincolor);
      }
      input[type="button"]{
        display:none;
      }//input
    }//form
  }//.mob-search
  .mobile-navigation{
    display: none;
      i{
        right: 0.5em;
        position: relative;
        font-size: 1.3em;
        &:hover{
          cursor: pointer;
        }//hover
      }//i
      ul{
        list-style: none;
        position: absolute;
        right: -48em;
        text-align: center;
        top: 3.4em;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        overflow: auto;
        li{
          width: 100%;
          background-color: rgba(0, 187, 255, 0.5);
          padding: 0.5em;
          a{
            text-decoration: none;
            color: white;
          }//a
        }//li
      }//ul
  }//.mobile-navigation
}//header


#access-forms{
  display: none;
  position: absolute;
  top: 2.5em;
  right: 0;
  width: 15em;
  float: right;
  text-align: center;
  margin: 1em;
  z-index: 9;
  background-color: white;
  @include boxShadow(0, 0, 10px, $maincolor);

  h2{
    font-size:1em;
  }

  #login-form{
    display: block;
  }//#login-form

  #signup-form{
    display: none;
  }//#signup-form

  #signup-form, #login-form{
    padding: 1em 0.5em;
    border: $mainborder;
    color: black;
    span{
      font-size: 0.7em;
      button{
        background-color: transparent;
        text-decoration: none;
        border: none;
        color: $maincolor;
        &:hover, &:active{
          color: grey;
          cursor: pointer;
        }//hover
      }//a
    }//span
    form{
      margin: 1em 0 0;
    }
  }//#signup-form, #login-form

  input{
    width: 100%;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border: $mainborder;
    // @include boxShadow(0, 0, 10px, #777777);
    @include placeholder ($maincolor);
  }//input

  input[type="button"]{
    display: inline-block;
    width: auto;
    clear: both;
    padding: 0.5em 2em;
    color: white;
    border: $mainborder;
    background-color: $maincolor;
    &:hover, &:active{
      background-color: white;
      color: $maincolor;
      cursor: pointer;
    }//hover
  }//input[type=button]

}//.access-form

.opt-shadow{
  @include boxShadow(0, 0, 10px, $maincolor);
}

.quick-options{
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 2;
    right: -25em;

    .option{
        background-color: $maincolor;
        width: 25em;
        position: relative;
    }//.option

    .fa-pencil-alt, .fa-search,.fa-times{
      background-color: $maincolor;
      position: absolute;
      left: -1.75em;
      padding: 0.5em;
      top: -0.05em;
      color: white;
      border-top-left-radius: 1em;
      border-top: 1px solid $hoverColor;
      border-left: 1px solid $hoverColor;
      @include boxShadow(0, 0, 10px, $maincolor);
      &:hover, &:active{
        cursor: pointer;
        background-color: $hoverColor;
      }//hover
    }//.fa-pencil-alt

  .quick-question{
    top:-0.7em;
    padding: 1em;
    text-align: center;
    h2{
      color: white;
      font-size: 1em;
    }//h2
    form{
      input{
        display: block;
        margin: 1em 0;
        border: 0;
        @include placeholder ($maincolor);
      }
      input[type="text"]{
        padding: 1em;
        width: 100%;
      }
      input[type="button"]{
        padding: 0.5em 1em;
        color: $maincolor;
        border: 1px solid white;
        &:hover, &:active{
          background-color: $maincolor;
          color: white;
          cursor: pointer;
        }//hover
      }
      textarea{
        width: 100%;
        height: 6em;
        border: 0;
        padding: 1em;
        @include placeholder ($maincolor);
      }
    }//form
  }//.quick-question

  .quick-search{
    height: 3em;
    form{
      input{
        padding: 1.1em;
        border: 0;
        position: relative;
        top: 0.1em;
        left: 0.2em;
        width: 25em;
      }//input
      input[type="submit"]{
        display: none;
      }
    }//.form
  }//.quick-search

}//.quick-options

.main{
  width: 100%;
  height: auto;

  .site-content{

  }//.site-content

  .side-bar{
    width: 25%;
    float: right;
    border-left: 1px solid #e2e2e2;
    margin: 0.3% 0;
    .hot-questions{
      padding: 1em;
      h3{
        font-family: 'Muli';
        color: #6b6b6b;
        text-align: center;
        font-size: 1em;
      }//h2
      .fa-gripfire{
        color: #f24d4d;
      }//fa-gripfire
      ul{
        list-style: none;
        font-size: 0.8em;
        text-align: left;
        li{
          padding: 0.5em 0;
          &:hover, &:active{
              a{
                  text-decoration: underline;
                  color: #848484;
              }//a
          }//hover
          a{
              text-decoration: none;
              color: $maincolor;
          }//a
        }//li
      }//ul
    }//hot-questions
  }//.side-bar

}//.main


footer{
  width: 100%;
  background-color: $maincolor;
  color: white;
  text-align: center;
  clear: both;
  p{
    padding: 1em 0;
  }
}

@media screen and ( max-width: 768px ){
  header{
    .welcome{
      font-size: 1.4em;
    }
    .main-navigation{
      display: none;
    }//.main-navigation
    .mobile-navigation{
      display: inline-block;
    }//.mobile-navigation
    .mob-search{
      display: inline-block;
    }//.mob-search
  }//header

  .quick-options{
    display: none;
  }//quick-options

  .main{
    .side-bar{
      display: none;
    }//.side-bar
  }//.main

}//@media screen and (max-width: 768px)
