{{!-- signup-form --}}
<div id="signup-form" class="c-forms">
    <h2>Sign Up</h2><span>Have an account? <button id="c-t-login" class="c-t-btn">Login</button> </span>
    <form id ="su-form" method="post">
        <span id="warning-message"></span>
        <input name="fname" placeholder="First Name" type="text" required>
        <input name="lname" placeholder="Last Name" type="text" required>
        <input name="occupation" placeholder="Occupation" type="text">
        <input name="email" placeholder="Email" type="email" required>
        <input name="username" placeholder="Username" type="text" required>
        <input name="pwd" placeholder="Password" type="password" required>
        <input name="submit" value="Sign Up" type="submit">
    </form>
</div>

{{!-- signup-form --}}

{{!-- login-form --}}
<div id="login-form" class="c-forms">
    <h2>Login</h2><span>Don't have an account? <button id="c-t-signup" class="c-t-btn">Sign up</button> </span>
    <form id="lg-form" method="post">
        <span id="warning-message2"></span>
        <input name="email" placeholder="Email" value="" type="text" required>
        <input name="pwd" value="" placeholder="Password" type="password" required>
        <input name="submit" value="Login" type="submit">
    </form>
</div>
{{!-- login-form --}}