<div class="lsidebar">

  <div class="side-access-forms">

      {{!-- signup-form --}}
      <div id="side-signup-form" class="c-forms">
          <h2>Sign Up</h2><span>Have an account? <button id="s-t-login" class="c-t-btn">Login</button> </span>
          <form action="index.html" method="post">
              <input type="text" name="fname" placeholder="First Name">
              <input type="text" name="lname" placeholder="Last Name">
              <input type="email" name="email" placeholder="Email">
              <input type="text" name="username"  placeholder="Username">
              <input type="password" name="pwd" placeholder="Password">
              <input type="button" name="submit" value="Sign Up">
          </form>
      </div>
      {{!-- signup-form --}}

      {{!-- login-form --}}
      <div id="side-login-form" class="c-forms">
          <h2>Login</h2><span>Don't have an account? <button id="s-t-signup" class="c-t-btn">Sign up</button> </span>
          <form action="index.html" method="post">
              <input type="text" name="username" placeholder="Username" value=""/>
              <input type="password" name="pwd" value="" placeholder="Password"/>
              <input type="button" name="submit" value="Login"/>
          </form>
      </div>
      {{!-- login-form --}}

  </div>

  {{> profileInfo}}

</div>
