{{!-- main navigation --}}
<nav class="main-navigation">
    <ul>
        <li><a href="/">Home</a></li><!--
  --><li><a href="/profile">Profile</a></li><!--
  --><li><a href="#">Logout</a></li><!--
  --><li><a href="/login-signup">Login</a></li>
    </ul>
</nav>



  {{!-- main navigation --}}

    {{!-- mobile navigation --}}
<nav class="mobile-navigation">

  <div class="profile nav-icon">
    <a href="/profile">
      <div class="profile-picture">
        <div class="profile-image">
        </div>
      </div>
    </a>

  </div>

  <div class="mob-search nav-icon" >
      <i class="fas fa-search" id="fa-search"></i>
  </div>


  <div class="dropdown-menu nav-icon">
    <i class="fas fa-bars"></i>
  </div>

</nav>

<form class="mob-search-form" action="index.html" method="get">
    <input class="search-form-input" type="text" name="search" placeholder="search">
    <input type="button" name="submit" class="" >
</form>

<ul class="dropdown-menu-items">
    <li><a href="/">Home</a></li>
    <li><a href="/post-question">Post A Question</a></li>
    <li><a href="/login-signup">Login/Sign Up</a></li>
    <li><a href="#">Log Out</a></li>
</ul>
{{!-- mobile navigation --}}