{{!-- main navigation --}}
<nav class="main-navigation">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Questions</a></li>
        <li><a id="navLogin" href="#">Login</a></li>
    </ul>
</nav>
<div class="mob-search">
    <i class="fas fa-search" id="fa-search"></i>
    <form class="search" action="index.html" method="get">
        <input type="text" name="search" placeholder="search">
        <input type="button" name="submit" class="" >
    </form>
</div>
  {{!-- main navigation --}}

    {{!-- mobile navigation --}}
<nav class="mobile-navigation">
 <i class="fas fa-bars"></i>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Questions</a></li>
        <li><a id="" href="#">Login</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Questions</a></li>
        <li><a id="" href="#">Login</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Questions</a></li>
        <li><a id="" href="#">Login</a></li>
    </ul>
</nav>
{{!-- mobile navigation --}}
