<div class="question-form">
    <p class="login-info"><a href="/login-signup">Login or Signup</a> to post a question</p>
    <p class="postQuestion-success-message">Question Posted!</p>
    <form class="postquestionform" method="post">
        <input type="text" name="title" placeholder="Title" value="" required>    
        <textarea name="content" rows="8" cols="80" placeholder="Enter your question here" required></textarea>
        <input type="text" name="tags" placeholder="Tags: Seperate multiple tags with commas e.g. ruby, java" value="" required>    
        <input type="submit" name="submit" value="Post">
    </form>
</div>