<div class="profile">
    <a href="" class="l-settings" title="Edit your profile"><span>Edit Profile </span><i class="fas fa-cogs"></i></a>
    <div class="profile-picture">
      <div class="profile-image">
      </div>
    </div>
    <div class="profile-info">
      <ul>
        <li class="profile-full-name" title="Full Name">Akanmu Christopher</li>
        <li class="profile-username"title="Username"><i class="far fa-user" ></i> @chris</li>
        <li class="profile-occupation"title="Occupation"><i class="fas fa-suitcase" ></i> Developer</li>
        <li class="profile-msince"title="Date Joined"><i class="fas fa-users" ></i><span> Joined:</span> 1 June 2018</li>
        <li class="profile-num-ans"title="Replies Given"><i class="fas fa-check" ></i><span> Replied:</span> 8</li>
        <li class="profile-num-que"title="Questions Posted"><i class="fas fa-question" ></i><span> Asked:</span> 20</li>
        <li class="profile-visit-profile"title="Visit Your Profile"><a href="/profile" >Go to profile</a></li>
      </ul>
    </div>
</div>
