<div class="q-meta">
  <ul>
    <li class="answer-count">
      <a href="#">Answers</a>
      <a href="#">0</a>
    </li><!--
    --><li class="likes-count">
      <a href="#">Likes</a>
      <a href="#">2232</a>
    </li><!--
    --><li class="views-count">
      <a href="#">Views</a>
      <a href="#">3443</a>
    </li>
  </ul>
</div>
