<div class="q-meta">
  <ul>
    <li class="answer-count">
      <a href="#">Answers</a>
      <a href="#" class="answer-count-dis">0</a>
    </li><!--
    --><li class="likes-count">
      <a href="#">Likes</a>
      <a href="#" class="likes-count-dis">2232</a>
    </li><!--
    --><li class="views-count">
      <a href="#">Views</a>
      <a href="#" class="views-count-dis">3443</a>
    </li>
  </ul>
</div>