{{!-- quick-options --}}
<div class="quick-options">

    {{!-- quick-search --}}
    <div class="quick-search option">
        <i class="fas fa-search" id="fa-search"></i>
        <form class="search" action="index.html" method="get">
            <input type="text" name="search" placeholder="search">
            <input type="submit" class="" >
        </form>
    </div>
    {{!-- quick-search --}}

    {{!-- quick-question --}}
    <div class="quick-question option">
        <i class="fas fa-pencil-alt"></i>
        <h2>Post a question</h2>
        <form action="index.html" method="post">
            <input type="text" placeholder="Title" name="title">
            <textarea name="question" placeholder="Question..."></textarea>
            <input type="button" name="submit" value="submit">
        <form>
    </div>
    {{!-- quick-question --}}


</div>
{{!-- quick-options --}}
