<div class="side-bar">

  <!--  hot-questions -->
  <div  class="hot-questions">
    <h3>Hot Questions</h3>
    <ul>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use python with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Java with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use SQL with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Javascript with Python</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Ruby with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use python with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Java with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use SQL with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Javascript with Python</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Ruby with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use python with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Java with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use SQL with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Javascript with Python</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Ruby with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use python with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Java with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use SQL with Javascript</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Javascript with Python</a> </li>
      <li> <i class="fab fa-gripfire"></i><a href="/question"> How to use Ruby with Javascript</a> </li>
    </ul>

  </div>
  <!--  hot-questions -->


</div>
