<div class="single-question">

  {{> questionMeta}}

  <div class="q-details">
    <div class="edit-option-container">
      <span class="edit-option" id=""><i class="fas fa-wrench"></i></span>
      <ul class="drop-settings">
        <li><i class="far fa-trash-alt" title="Delete this question"></i> Delete</li>
        <li><i class="fas fa-wrench"></i> Edit</li>
      </ul>
    </div>
    <p class="question-title"><a href="/question">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
    <ul class="tags">
      <li><a href="#">javascript</a></li>
      <li><a href="#">ruby</a></li>
      <li><a href="#">python</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">ruby</a></li>
    </ul>
        <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>
  </div>

</div><!-- single-question -->
