/node_modules
/coverage
/scss
/UI
/es6
/views
/public
.eslintrc.json
.coveralls.yml
package-lock.json
/server/routes/login.js
/server/routes/signup.js
/server/controllers/login.js
/server/controllers/signup.js
/server/routes/login.js
/server/db/user.js