{{> header}}
<div class="main">
  <div class="site-content">

    <div id="hQuestions">
      <ul class="tab-cont">
        <li><a href="#tab1">All</a></li><!--
        --><li><a href="#tab2">New</a></li><!--
        --><li><a href="#tab3">Popular</a></li>
      </ul>
      <div class="tab all" id="tab1">

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

      </div> <!-- tab -->

      <div class="tab new" id="tab2">

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

      </div><!-- tab -->

      <div class="tab popular" id="tab3">

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">2232</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">3443</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">19 Jun 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">234</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">22</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">34</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
            </ul>
              <span class="posted-on">Posted on <a href="#">29 Apr 2018</a> </span>

          </div>

        </div><!-- single-question -->

        <div class="single-question">
          <div class="q-meta">
            <ul>
              <li class="answer-count">
                <a href="#">Answers</a>
                <a href="#">0</a>
              </li><!--
              --><li class="likes-count">
                <a href="#">Likes</a>
                <a href="#">0</a>
              </li><!--
              --><li class="views-count">
                <a href="#">Views</a>
                <a href="#">0</a>
              </li>
            </ul>
          </div>

          <div class="q-details">
            <p class="question-title"><a href="#">How to use javascript to hide elements and use document.getElementById(''). How many girls can I take home tonight in lagos Nigeria</a></p>
            <ul class="tags">
              <li><a href="#">javascript</a></li>
              <li><a href="#">ruby</a></li>
              <li><a href="#">python</a></li>
              <li><a href="#">javascript</a>
            </ul>

              <span class="posted-on">Posted on <a href="#">5 Mar 2018</a> </span>

          </div>

        </div><!-- single-question -->

      </div><!-- tab -->

    </div><!-- hQuestions -->

  </div><!-- .site-content -->
  {{> sidebar}}
</div>

{{> footer}}
