{{> header}}
{{> lsidebar}}

<div class="site-content">
  <div class="profile-page-cont">

      {{> profileInfo}}

      <h2 class="heading"></h2>
      

  </div> <!--  profile-page cont-->
</div><!--  site-content-->

  {{> sidebar}}
{{> footer}}