{{> header}}
{{> lsidebar}}

<div class="site-content">
  <div class="profile-page-cont">

      {{> profileInfo}}

      <h2>Your Questions</h2>
     {{> singleQuestionTemplate}}
     {{> singleQuestionTemplate}}
     {{> singleQuestionTemplate}}

  </div> <!--  profile-page cont-->
</div><!--  site-content-->

  {{> sidebar}}
{{> footer}}
