{{> header}}

  <div class="site-content">

    <div class="single-question-page">
      <h1 class="question-title"></h1>
      <div class="q-meta"></div>
      <div class="question-cont">
        <p class="question-body"></p>
        <div class="action-meta-cont">
        </div><!--action-meta-cont-->
      </div><!--question cont -->


      <div class="comments">
        <h2>Answers</h2>
        <ul id="comment-list">
        </ul>
      </div>

      <form class="comment-form" action="" method="post">
        <h2>Post an Answer</h2>
        <p id="success-answer"></p>
        <textarea name="answer" placeholder="Enter your answer here..."></textarea>
        <input type="submit" name="submit" value="Post">
      </form>


    </div>

  </div>

  {{> sidebar}}
{{> footer}}
