{{> header}}

  <div class="site-content">

    <div class="single-question-page">
      <h1 class="question-title"></h1>
      <div class="q-meta"></div>
      <div class="question-cont">
        <p class="question-body"></p>
        <div class="action-meta-cont">

          <div class="action-buttons">
              <span class="like-comment action like-btn" title="Mark as useful"><i class="far fa-thumbs-up likebutton"></i></span><!--
            --><span class="dislike-comment action dislike-btn" title="Mark as not useful"><i class="far fa-thumbs-down dislikebutton"></i></span><!--
            --><span class="report action report-btn" title="Mark as Inappropriate"><i class="far fa-flag reportbutton"></i></span><!--
            --><span class="favorite-comment action favorite-btn" title="Mark as favorite"><i class="far fa-star favoritebutton"></i></span>
          </div><!--action buttons--><!--
          --><div class="meta-cont">
            <span class="date-posted">
            </span>
            <ul class="tags">
            </ul>
          </div><!--meta cont -->

        </div><!--action-meta-cont-->
      </div><!--question cont -->


      <div class="comments">
        <h2>Answers</h2>
        <ul id="comment-list">
        </ul>
      </div>

      <form class="comment-form" action="" method="post">
        <h2>Post an Answer</h2>
        <p id="success-answer"></p>
        <textarea name="answer" placeholder="Enter your answer here..."></textarea>
        <input type="submit" name="submit" value="Post">
      </form>


    </div>

  </div>

  {{> sidebar}}
{{> footer}}
