{{> header}}
  {{> lsidebar}}

  <div class="site-content">
    <ul>
      <li class="answer-count">
        <a href="#">Answers</a>
        <a href="#">234</a>
      </li><!--
      --><li class="likes-count">
        <a href="#">Likes</a>
        <a href="#">2232</a>
      </li><!--
      --><li class="views-count">
        <a href="#">Views</a>
        <a href="#">3443</a>
      </li>
    </ul>
  </div>

  {{> sidebar}}
{{> footer}}
