{{> header}}
  {{> lsidebar}}

  <div class="site-content">

    <div class="single-question-page">
      <h1 class="question-title">How to use javascript to hide elements and use document.getElementById('').</h1>
      {{> questionMeta}}

      <div class="question-cont">
        <p class="question-body">
          ckjhd sudas igyasd asud saudh asudghas duashda sduiashd asudgasd ckjhd sudas igyasd asud saudh asudghas duashda sduiashd asudgasd ckjhd sudas igyasd asud saudh asudghas duashda sduiashd asudgasd ckjhd sudas igyasd asud saudh asudghas duashda sduiashd asudgasd ckjhd sudas igyasd asud saudh asudghas duashda sduiashd asudgasd ckjhd sudas igyasd asud saudh asudghas duashda sduiashd asudgasd ckjhd sudas igyasd asud saudh asudghas duashda sduiashd asudgasd
        </p>
        <div class="action-meta-cont">

          <div class="action-buttons">
              <span class="like-comment action like-btn" title="Mark as useful"><i class="far fa-thumbs-up likebutton"></i></span><!--
            --><span class="dislike-comment action dislike-btn" title="Mark as not useful"><i class="far fa-thumbs-down dislikebutton"></i></span><!--
            --><span class="report action report-btn" title="Mark as Inappropriate"><i class="far fa-flag reportbutton"></i></span><!--
            --><span class="favorite-comment action favorite-btn" title="Mark as favorite"><i class="far fa-star favoritebutton"></i></span>
          </div><!--action buttons--><!--
          --><div class="meta-cont">
            <span class="date-posted">posted on
              <span>19 Jun 2018</span> by <span><a href="#">@chris</a></span>
            </span>
            <ul class="tags">
              <li><a href="#">Javascript</a></li>
              <li><a href="#">JQuery</a></li>
              <li><a href="#">Handlebars</a></li>
              <li><a href="#">Ruby</a></li>
            </ul>
          </div><!--meta cont -->

        </div><!--action-meta-cont-->
      </div><!--question cont -->


      <div class="comments">
        <h2>Comments</h2>
        <ul>
          <li class="comment-cont">
            <p class="comment">vuygdf ugi uhd nuoifha fokudhsf dufhsd oisdhf oldihf ldhfm, sdofuihsd fidshfjlkdjofdkukdhfndfhdsofindfsdnfoisdhfdsnf djsfhsdjf sudfbds fikdsfsd fiodufgs fdiousdf dsfoudshfds fodusfhds fodsiufgsd fdsoufbflsrh fujfgbdsjbfursoifs dfugerfbsajlfds.</p>
            <p class="action-buttons">
              <span class="like-comment action like-btn" title="Mark as useful"><i class="far fa-thumbs-up likebutton"></i></span><!--
            --><span class="dislike-comment action dislike-btn" title="Mark as not useful"><i class="far fa-thumbs-down dislikebutton"></i></span><!--
            --><span class="report action report-btn" title="Mark as Inappropriate"><i class="far fa-flag reportbutton"></i></span><!--
            --><span class="favorite-comment action favorite-btn" title="Mark as favorite"><i class="far fa-star favoritebutton"></i></span>
            </p>
          </li>
          <li class="comment-cont">
            <p class="comment">vuygdf ugi uhd nuoifha fokudhsf dufhsd oisdhf oldihf ldhfm, sdofuihsd fidshfjlkdjofdkukdhfndfhdsofindfsdnfoisdhfdsnf djsfhsdjf sudfbds fikdsfsd fiodufgs fdiousdf dsfoudshfds fodusfhds fodsiufgsd fdsoufbflsrh fujfgbdsjbfursoifs dfugerfbsajlfds.</p>
            <p class="action-buttons">
              <span class="like-comment action like-btn" title="Mark as useful"><i class="far fa-thumbs-up likebutton"></i></span><!--
            --><span class="dislike-comment action dislike-btn" title="Mark as not useful"><i class="far fa-thumbs-down dislikebutton"></i></span><!--
            --><span class="report action report-btn" title="Mark as Inappropriate"><i class="far fa-flag reportbutton"></i></span><!--
            --><span class="favorite-comment action favorite-btn" title="Mark as favorite"><i class="far fa-star favoritebutton"></i></span>
            </p>
          </li>
          <li class="comment-cont">
            <p class="comment">vuygdf ugi uhd nuoifha fokudhsf dufhsd oisdhf oldihf ldhfm, sdofuihsd fidshfjlkdjofdkukdhfndfhdsofindfsdnfoisdhfdsnf djsfhsdjf sudfbds fikdsfsd fiodufgs fdiousdf dsfoudshfds fodusfhds fodsiufgsd fdsoufbflsrh fujfgbdsjbfursoifs dfugerfbsajlfds.</p>
            <p class="action-buttons">
              <span class="like-comment action like-btn" title="Mark as useful"><i class="far fa-thumbs-up likebutton"></i></span><!--
            --><span class="dislike-comment action dislike-btn" title="Mark as not useful"><i class="far fa-thumbs-down dislikebutton"></i></span><!--
            --><span class="report action report-btn" title="Mark as Inappropriate"><i class="far fa-flag reportbutton"></i></span><!--
            --><span class="favorite-comment action favorite-btn" title="Mark as favorite"><i class="far fa-star favoritebutton"></i></span>
            </p>
          </li>
          <li class="comment-cont">
            <p class="comment">vuygdf ugi uhd nuoifha fokudhsf dufhsd oisdhf oldihf ldhfm, sdofuihsd fidshfjlkdjofdkukdhfndfhdsofindfsdnfoisdhfdsnf djsfhsdjf sudfbds fikdsfsd fiodufgs fdiousdf dsfoudshfds fodusfhds fodsiufgsd fdsoufbflsrh fujfgbdsjbfursoifs dfugerfbsajlfds.</p>
            <p class="action-buttons">
              <span class="like-comment action like-btn" title="Mark as useful"><i class="far fa-thumbs-up likebutton"></i></span><!--
            --><span class="dislike-comment action dislike-btn" title="Mark as not useful"><i class="far fa-thumbs-down dislikebutton"></i></span><!--
            --><span class="report action report-btn" title="Mark as Inappropriate"><i class="far fa-flag reportbutton"></i></span><!--
            --><span class="favorite-comment action favorite-btn" title="Mark as favorite"><i class="far fa-star favoritebutton"></i></span>
            </p>
          </li>
          <li class="comment-cont">
            <p class="comment">vuygdf ugi uhd nuoifha fokudhsf dufhsd oisdhf oldihf ldhfm, sdofuihsd fidshfjlkdjofdkukdhfndfhdsofindfsdnfoisdhfdsnf djsfhsdjf sudfbds fikdsfsd fiodufgs fdiousdf dsfoudshfds fodusfhds fodsiufgsd fdsoufbflsrh fujfgbdsjbfursoifs dfugerfbsajlfds.</p>
            <p class="action-buttons">
              <span class="like-comment action like-btn" title="Mark as useful"><i class="far fa-thumbs-up likebutton"></i></span><!--
            --><span class="dislike-comment action dislike-btn" title="Mark as not useful"><i class="far fa-thumbs-down dislikebutton"></i></span><!--
            --><span class="report action report-btn" title="Mark as Inappropriate"><i class="far fa-flag reportbutton"></i></span><!--
            --><span class="favorite-comment action favorite-btn" title="Mark as favorite"><i class="far fa-star favoritebutton"></i></span>
            </p>
          </li>
        </ul>
      </div>

      <form class="comment-form" action="index.html" method="post">
        <h2>Post a comment</h2>
        <textarea name="name" placeholder=""></textarea>
        <input type="button" name="submit" value="Post">
      </form>


    </div>

  </div>

  {{> sidebar}}
{{> footer}}
