@import url("https://fonts.googleapis.com/css?family=Roboto|Muli|Dosis|Quicksand|Josefin+Sans");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
}

body {
  font-size: 16px;
}

/** profile page specific css*/
body.page-profile .main .lsidebar .profile .profile-info ul li:last-child {
  display: none;
}

header {
  padding: 1em 0;
  background-color: #006eff;
  text-align: right;
  color: white;
  font-family: 'Muli';
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.25em;
  z-index: 99999;
}

header .welcome {
  float: left;
  margin: 0 0.5em;
}

header .welcome a {
  text-decoration: none;
  color: white;
}

header .welcome a:hover, header .welcome a:active {
  cursor: pointer;
}

header .main-navigation {
  display: inline-block;
  margin: 0 0 0 0.5em;
}

header .main-navigation ul {
  list-style: none;
  position: relative;
  top: -0.15em;
}

header .main-navigation ul li {
  display: inline;
}

header .main-navigation ul li a {
  text-decoration: none;
  color: white;
  padding: 1.1em 0.5em;
}

header .main-navigation ul li a:hover, header .main-navigation ul li a:active {
  background-color: #0090ff;
}

header .main-navigation ul li:last-child {
  display: none;
}

header .mobile-navigation {
  display: none;
  position: relative;
  top: -1em;
  margin: 0 1em;
}

header .mobile-navigation .nav-icon {
  display: inline-block;
  width: auto;
  margin: 0 0.2em;
  position: relative;
}

header .mobile-navigation .profile {
  top: 0.5em;
}

header .mobile-navigation .profile .profile-picture {
  width: 2em;
  height: 2em;
  padding: 0.1em;
  border-radius: 100em;
  border: 1px solid white;
  margin: 0;
}

header .mobile-navigation .profile .profile-picture .profile-image {
  background-image: url("images/rubix.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

header .mobile-navigation .mob-search i {
  font-size: 1.3em;
  color: white;
}

header .mobile-navigation .mob-search i:hover {
  cursor: pointer;
}

header .mobile-navigation .dropdown-menu i {
  font-size: 1.3em;
}

header .mobile-navigation .dropdown-menu i:hover {
  cursor: pointer;
}

header .mobile-navigation .dropdown-menu .fa-times {
  color: #f24d4d;
}

header .mob-search-form {
  position: absolute;
  left: 0;
  top: 3.3em;
  width: 100%;
  display: none;
  z-index: 99;
}

header .mob-search-form input {
  padding: 1em;
  width: 100%;
  border: 0;
  -moz-box-shadow: 0 0 10px #006eff;
  -webkit-box-shadow: 0 0 10px #006eff;
  -ms-box-shadow: 0 0 10px #006eff;
  box-shadow: 0 0 10px #006eff;
}

header .mob-search-form input::-webkit-input-placeholder {
  color: #006eff;
}

header .mob-search-form input::-moz-placeholder {
  color: #006eff;
}

header .mob-search-form input:-ms-input-placeholder {
  color: #006eff;
}

header .mob-search-form input:-moz-placeholder {
  color: #006eff;
}

header .mob-search-form input::placeholder {
  color: #006eff;
}

header .mob-search-form input[type="button"] {
  display: none;
}

header .dropdown-menu-items {
  display: none;
  list-style: none;
  position: absolute;
  right: -48em;
  text-align: center;
  top: 3.2em;
  width: 100%;
  overflow: auto;
}

header .dropdown-menu-items li {
  width: 100%;
  background-color: rgba(0, 91, 122, 0.9);
  padding: 0.5em;
}

header .dropdown-menu-items li a {
  text-decoration: none;
  color: white;
}

header #access-forms {
  display: none;
  position: absolute;
  top: 2.5em;
  right: 0;
  width: 15em;
  float: right;
  text-align: center;
  margin: 1em;
  z-index: 9;
  background-color: white;
  -moz-box-shadow: 0 0 10px #006eff;
  -webkit-box-shadow: 0 0 10px #006eff;
  -ms-box-shadow: 0 0 10px #006eff;
  box-shadow: 0 0 10px #006eff;
}

header #access-forms h2 {
  font-size: 1em;
}

header #access-forms #login-form {
  display: block;
}

header #access-forms #signup-form {
  display: none;
}

header #access-forms #signup-form, header #access-forms #login-form {
  padding: 1em 0.5em;
  border: 1px solid #006eff;
  color: black;
}

header #access-forms #signup-form span, header #access-forms #login-form span {
  font-size: 0.7em;
}

header #access-forms #signup-form span button, header #access-forms #login-form span button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #006eff;
}

header #access-forms #signup-form span button:hover, header #access-forms #signup-form span button:active, header #access-forms #login-form span button:hover, header #access-forms #login-form span button:active {
  color: grey;
  cursor: pointer;
}

header #access-forms #signup-form form, header #access-forms #login-form form {
  margin: 1em 0 0;
}

header #access-forms input {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border: 1px solid #006eff;
}

header #access-forms input::-webkit-input-placeholder {
  color: #006eff;
}

header #access-forms input::-moz-placeholder {
  color: #006eff;
}

header #access-forms input:-ms-input-placeholder {
  color: #006eff;
}

header #access-forms input:-moz-placeholder {
  color: #006eff;
}

header #access-forms input::placeholder {
  color: #006eff;
}

header #access-forms input[type="button"] {
  display: inline-block;
  width: auto;
  clear: both;
  padding: 0.5em 2em;
  color: white;
  border: 1px solid #006eff;
  background-color: #006eff;
}

header #access-forms input[type="button"]:hover, header #access-forms input[type="button"]:active {
  background-color: white;
  color: #006eff;
  cursor: pointer;
}

/**profile information display information */
.profile .profile-picture {
  width: 7em;
  height: 7em;
  padding: 0.4em;
  margin: 0.5em auto;
  border: 1px solid #0090ff;
  border-radius: 100em;
}

.profile .profile-picture .profile-image {
  background-image: url("images/rubix.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.profile .profile-info ul {
  text-align: center;
  list-style: none;
}

.profile .profile-info ul li {
  color: #6b6b6b;
}

.profile .profile-info ul li:nth-child(2) i {
  color: #006eff;
}

.profile .profile-info ul li:nth-child(3) i {
  color: #ffb23f;
}

.profile .profile-info ul li:nth-child(4) i {
  color: #a954ff;
}

.profile .profile-info ul li:nth-child(5) i {
  color: #49ff68;
}

.profile .profile-info ul li:nth-child(6) i {
  color: #f24d4d;
}

/**quick options on right side of page eg search and post a question */
.quick-options {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 2;
  right: -25em;
}

.quick-options .opt-shadow {
  -moz-box-shadow: 0 0 10px #006eff;
  -webkit-box-shadow: 0 0 10px #006eff;
  -ms-box-shadow: 0 0 10px #006eff;
  box-shadow: 0 0 10px #006eff;
}

.quick-options .option {
  background-color: #006eff;
  border: 1px solid #0090ff;
  width: 25em;
  position: relative;
}

.quick-options .fa-pencil-alt, .quick-options .fa-search, .quick-options .fa-times {
  background-color: #006eff;
  position: absolute;
  left: -1.75em;
  padding: 0.5em;
  top: -0.05em;
  color: white;
  border-top-left-radius: 1em;
  border-top: 1px solid #0090ff;
  border-left: 1px solid #0090ff;
  border-bottom: 1px solid #0090ff;
}

.quick-options .fa-pencil-alt:hover, .quick-options .fa-pencil-alt:active, .quick-options .fa-search:hover, .quick-options .fa-search:active, .quick-options .fa-times:hover, .quick-options .fa-times:active {
  cursor: pointer;
  background-color: #0090ff;
}

.quick-options .quick-search {
  height: 3em;
}

.quick-options .quick-search form input {
  padding: 1.1em;
  border: 0;
  position: relative;
  top: 0.1em;
  left: 0.2em;
  width: 25em;
}

.quick-options .quick-search form input[type="submit"] {
  display: none;
}

.quick-options .quick-question {
  top: -0.7em;
  padding: 1em;
  text-align: center;
}

.quick-options .quick-question h2 {
  color: white;
  font-size: 1em;
}

.quick-options .quick-question form input {
  display: block;
  margin: 1em 0;
  border: 0;
}

.quick-options .quick-question form input::-webkit-input-placeholder {
  color: #006eff;
}

.quick-options .quick-question form input::-moz-placeholder {
  color: #006eff;
}

.quick-options .quick-question form input:-ms-input-placeholder {
  color: #006eff;
}

.quick-options .quick-question form input:-moz-placeholder {
  color: #006eff;
}

.quick-options .quick-question form input::placeholder {
  color: #006eff;
}

.quick-options .quick-question form input[type="text"] {
  padding: 1em;
  width: 100%;
}

.quick-options .quick-question form input[type="button"] {
  padding: 0.5em 1em;
  color: #006eff;
  border: 1px solid white;
}

.quick-options .quick-question form input[type="button"]:hover {
  background-color: #006eff;
  color: white;
  cursor: pointer;
}

.quick-options .quick-question form input[type="button"]:active {
  background-color: #006eff;
  color: white;
  cursor: pointer;
  -moz-box-shadow: inset 0 0 4px white;
  -webkit-box-shadow: inset 0 0 4px white;
  -ms-box-shadow: inset 0 0 4px white;
  box-shadow: inset 0 0 4px white;
}

.quick-options .quick-question form textarea {
  width: 100%;
  height: 6em;
  border: 0;
  padding: 1em;
}

.quick-options .quick-question form textarea::-webkit-input-placeholder {
  color: #006eff;
}

.quick-options .quick-question form textarea::-moz-placeholder {
  color: #006eff;
}

.quick-options .quick-question form textarea:-ms-input-placeholder {
  color: #006eff;
}

.quick-options .quick-question form textarea:-moz-placeholder {
  color: #006eff;
}

.quick-options .quick-question form textarea::placeholder {
  color: #006eff;
}

/**main DIV, center of page */
.main {
  width: 100%;
  height: auto;
  margin: 4em 0 0;
  /**left side bar */
  /**right side bar */
  /**post -a-quetsion page form */
  /**profile page container */
}

.main .site-content {
  width: 55%;
  float: left;
  padding: 2em 1em;
  /**Post a question button on homepage can be used on other pages, copy html */
  /**page title  */
  /**signle question template design */
  /**home page questions display */
}

.main .site-content .hPostQues {
  display: inline-block;
  text-align: left;
}

.main .site-content .hPostQues a {
  background-color: #006eff;
  border: 1px solid #006eff;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.9em;
  border-radius: 0.2em;
}

.main .site-content .hPostQues a:hover {
  background-color: white;
  color: #006eff;
  -moz-box-shadow: 0 0 5px #006eff;
  -webkit-box-shadow: 0 0 5px #006eff;
  -ms-box-shadow: 0 0 5px #006eff;
  box-shadow: 0 0 5px #006eff;
}

.main .site-content .hPostQues a:active {
  background-color: white;
  color: #006eff;
  -moz-box-shadow: inset 0 0 4px #006eff;
  -webkit-box-shadow: inset 0 0 4px #006eff;
  -ms-box-shadow: inset 0 0 4px #006eff;
  box-shadow: inset 0 0 4px #006eff;
}

.main .site-content .pageTitle {
  color: #6b6b6b;
  margin: 0 0 1em 0;
  font-size: 1.3em;
}

.main .site-content .liked {
  background-color: #f24d4d;
  color: white;
  border: 1px solid #f24d4d !important;
}

.main .site-content .answered {
  background-color: #49ff68;
  color: white;
  border: 1px solid #49ff68 !important;
}

.main .site-content .viewed {
  background-color: #0090ff;
  color: white;
  border: 1px solid #0090ff !important;
}

.main .site-content .single-question {
  border-top: 1px solid #e2e2e2;
  padding: 1em 0;
  display: flex;
}

.main .site-content .single-question .q-meta {
  display: flex;
}

.main .site-content .single-question .q-meta ul {
  display: flex;
}

.main .site-content .single-question .q-meta ul li {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
}

.main .site-content .single-question .q-meta ul li a {
  display: block;
  color: #6b6b6b;
  text-decoration: none;
  padding: 0.1em 0.3em;
  margin: 0 0.2em;
  font-size: 0.7em;
}

.main .site-content .single-question .q-meta ul li a:first-child {
  font-size: 0.6em;
}

.main .site-content .single-question .q-meta ul li a:last-child {
  border: 1px solid #e2e2e2;
}

.main .site-content .single-question .q-details {
  display: inline-block;
  padding: 0 0.2em;
  width: auto;
  overflow: visible;
  word-wrap: break-word;
}

.main .site-content .single-question .q-details .edit-option-container {
  position: relative;
  float: right;
}

.main .site-content .single-question .q-details .edit-option-container .edit-option {
  background-color: white;
  border: 1px solid #6b6b6b;
  padding: 0.1em 0.4em 0;
  position: relative;
  top: -0.8em;
  border-radius: 0.3em;
}

.main .site-content .single-question .q-details .edit-option-container .edit-option i {
  color: #6b6b6b;
}

.main .site-content .single-question .q-details .edit-option-container .edit-option:hover {
  -moz-box-shadow: 0 0 4px #777777;
  -webkit-box-shadow: 0 0 4px #777777;
  -ms-box-shadow: 0 0 4px #777777;
  box-shadow: 0 0 4px #777777;
  cursor: pointer;
}

.main .site-content .single-question .q-details .edit-option-container .edit-option:active {
  -moz-box-shadow: inset 0 0 3px #777777;
  -webkit-box-shadow: inset 0 0 3px #777777;
  -ms-box-shadow: inset 0 0 3px #777777;
  box-shadow: inset 0 0 3px #777777;
  cursor: pointer;
}

.main .site-content .single-question .q-details .edit-option-container .drop-settings {
  position: absolute;
  background-color: white;
  border: 1px solid #e2e2e2;
  width: 10em;
  text-align: center;
  list-style: none;
  left: -8em;
  top: 0.5em;
  -moz-box-shadow: 0 0 8px #e2e2e2;
  -webkit-box-shadow: 0 0 8px #e2e2e2;
  -ms-box-shadow: 0 0 8px #e2e2e2;
  box-shadow: 0 0 8px #e2e2e2;
  display: none;
}

.main .site-content .single-question .q-details .edit-option-container .drop-settings li {
  padding: 0.5em 0;
  font-size: 0.8em;
  border-bottom: 1px solid #e2e2e2;
}

.main .site-content .single-question .q-details .edit-option-container .drop-settings li:last-child {
  border-bottom: none;
}

.main .site-content .single-question .q-details .edit-option-container .drop-settings li:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}

.main .site-content .single-question .q-details .posted-on {
  font-size: 0.7em;
  float: right;
  display: inline-block;
  text-align: right;
  margin: 0 1.4em 0 0;
  width: 100%;
}

.main .site-content .single-question .q-details .posted-on a {
  color: #f24d4d;
}

.main .site-content .single-question .q-details .question-title {
  padding: 0 0 0 1em;
}

.main .site-content .single-question .q-details .question-title a {
  text-decoration: none;
  color: #006eff;
  font-size: 0.9em;
  font-family: sans-serif;
}

.main .site-content .single-question .q-details .tags {
  float: right;
  margin: 1em;
  text-align: right;
}

.main .site-content .single-question .q-details .tags li {
  list-style: none;
  display: inline-block;
  margin: 0.4em 0;
}

.main .site-content .single-question .q-details .tags li a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.8em;
  padding: 0.3em;
  background-color: #8cd1ff;
}

.main .site-content .single-question:last-child {
  border-bottom: 1px solid #e2e2e2;
}

.main .site-content #hQuestions {
  padding: 0.1em 0 0;
}

.main .site-content #hQuestions .tab-cont {
  background-color: white;
  text-align: right;
}

.main .site-content #hQuestions .tab-cont .ui-tabs-active {
  background-color: white;
}

.main .site-content #hQuestions .tab-cont .ui-tabs-active a {
  color: #006eff;
  background-color: white;
}

.main .site-content #hQuestions .tab-cont li {
  display: inline-block;
  margin: 0 0 0 0.2em;
}

.main .site-content #hQuestions .tab-cont li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #006eff;
  padding: 0.2em 0.6em;
  border: 1px solid #006eff;
  border-radius: 0.3em;
}

.main .site-content #hQuestions .tab {
  background-color: white;
  padding: 1em 0;
  color: #006eff;
}

.main .lsidebar {
  width: 20%;
  float: left;
}

.main .lsidebar #side-access-forms {
  width: 100%;
  text-align: center;
  margin: 40% 0 0;
  background-color: white;
}

.main .lsidebar #side-access-forms h2 {
  font-size: 1em;
}

.main .lsidebar #side-access-forms #side-login-form {
  display: block;
}

.main .lsidebar #side-access-forms #side-signup-form {
  display: none;
}

.main .lsidebar #side-access-forms #side-signup-form, .main .lsidebar #side-access-forms #side-login-form {
  padding: 1em 0.5em;
  border-top: 1px solid #006eff;
  border-bottom: 1px solid #006eff;
  border-right: 1px solid #006eff;
  color: black;
  position: fixed;
  width: 20%;
}

.main .lsidebar #side-access-forms #side-signup-form span, .main .lsidebar #side-access-forms #side-login-form span {
  font-size: 0.7em;
}

.main .lsidebar #side-access-forms #side-signup-form span button, .main .lsidebar #side-access-forms #side-login-form span button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #006eff;
}

.main .lsidebar #side-access-forms #side-signup-form span button:hover, .main .lsidebar #side-access-forms #side-signup-form span button:active, .main .lsidebar #side-access-forms #side-login-form span button:hover, .main .lsidebar #side-access-forms #side-login-form span button:active {
  color: grey;
  cursor: pointer;
}

.main .lsidebar #side-access-forms #side-signup-form form, .main .lsidebar #side-access-forms #side-login-form form {
  margin: 1em 0 0;
}

.main .lsidebar #side-access-forms input {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border: 1px solid #006eff;
}

.main .lsidebar #side-access-forms input::-webkit-input-placeholder {
  color: #006eff;
}

.main .lsidebar #side-access-forms input::-moz-placeholder {
  color: #006eff;
}

.main .lsidebar #side-access-forms input:-ms-input-placeholder {
  color: #006eff;
}

.main .lsidebar #side-access-forms input:-moz-placeholder {
  color: #006eff;
}

.main .lsidebar #side-access-forms input::placeholder {
  color: #006eff;
}

.main .lsidebar #side-access-forms input[type="button"] {
  display: inline-block;
  width: auto;
  clear: both;
  padding: 0.5em 2em;
  color: white;
  border: 1px solid #006eff;
  background-color: #006eff;
}

.main .lsidebar #side-access-forms input[type="button"]:hover, .main .lsidebar #side-access-forms input[type="button"]:active {
  background-color: white;
  color: #006eff;
  cursor: pointer;
}

.main .lsidebar .profile {
  z-index: 999;
  width: 20%;
  position: fixed;
  background-color: white;
  border-top: 1px solid #0090ff;
  border-bottom: 1px solid #0090ff;
  border-right: 1px solid #0090ff;
}

.main .lsidebar .profile .l-settings {
  float: right;
  background-color: #006eff;
  border-bottom-left-radius: 1em;
}

.main .lsidebar .profile .l-settings span {
  display: none;
}

.main .lsidebar .profile .l-settings i {
  color: white;
  padding: 0.5em;
}

.main .lsidebar .profile .l-settings:hover, .main .lsidebar .profile .l-settings:active {
  background-color: #0090ff;
  cursor: pointer;
}

.main .lsidebar .profile .profile-info ul li {
  margin: 0.7em 0;
}

.main .lsidebar .profile .profile-info ul li a {
  color: #006eff;
  text-decoration: none;
}

.main .lsidebar .profile .profile-info ul li a:hover, .main .lsidebar .profile .profile-info ul li a:active {
  text-decoration: underline;
}

.main .lsidebar .profile .profile-info ul li span {
  color: #6b6b6b;
  font-size: 0.8em;
}

.main .side-bar {
  width: 25%;
  float: right;
  border-left: 1px solid #e2e2e2;
  margin: 0.3% 0;
}

.main .side-bar .hot-questions {
  padding: 1em;
}

.main .side-bar .hot-questions h3 {
  font-family: 'Muli';
  color: #6b6b6b;
  text-align: center;
  font-size: 1em;
}

.main .side-bar .hot-questions .fa-gripfire {
  color: #f24d4d;
}

.main .side-bar .hot-questions ul {
  list-style: none;
  font-size: 0.8em;
  text-align: left;
}

.main .side-bar .hot-questions ul li {
  padding: 0.5em 0;
}

.main .side-bar .hot-questions ul li:hover a, .main .side-bar .hot-questions ul li:active a {
  text-decoration: underline;
  color: #848484;
}

.main .side-bar .hot-questions ul li a {
  text-decoration: none;
  color: #006eff;
}

.main .question-form form label {
  color: #6b6b6b;
}

.main .question-form form input[type="button"] {
  display: inline-block;
  width: auto;
  background-color: #006eff;
  color: white;
  padding: 0.5em 1em;
  float: right;
}

.main .question-form form input[type="button"]:hover, .main .question-form form input[type="button"]:active {
  color: #006eff;
  background-color: white;
  cursor: pointer;
}

.main .question-form form input, .main .question-form form textarea {
  border: 1px solid #006eff;
  padding: 1em 0.2em;
  margin: 0 0 1em 0;
  width: 100%;
}

.main .question-form form input::-webkit-input-placeholder, .main .question-form form textarea::-webkit-input-placeholder {
  color: #006eff;
}

.main .question-form form input::-moz-placeholder, .main .question-form form textarea::-moz-placeholder {
  color: #006eff;
}

.main .question-form form input:-ms-input-placeholder, .main .question-form form textarea:-ms-input-placeholder {
  color: #006eff;
}

.main .question-form form input:-moz-placeholder, .main .question-form form textarea:-moz-placeholder {
  color: #006eff;
}

.main .question-form form input::placeholder, .main .question-form form textarea::placeholder {
  color: #006eff;
}

.main .profile-page-cont .profile {
  display: none;
  margin: 0 0 2em 0;
  text-align: right;
}

.main .profile-page-cont .profile .l-settings {
  background-color: white;
  border: 1px solid #0090ff;
  border-radius: 0.3em;
  color: #0090ff;
  padding: 0.3em 0.6em;
  text-decoration: none;
}

.main .profile-page-cont .profile .l-settings:hover {
  background-color: #006eff;
  color: white;
  -moz-box-shadow: 0 0 4px #6b6b6b;
  -webkit-box-shadow: 0 0 4px #6b6b6b;
  -ms-box-shadow: 0 0 4px #6b6b6b;
  box-shadow: 0 0 4px #6b6b6b;
}

.main .profile-page-cont .profile .l-settings:active {
  -moz-box-shadow: inset 0 0 4px #6b6b6b;
  -webkit-box-shadow: inset 0 0 4px #6b6b6b;
  -ms-box-shadow: inset 0 0 4px #6b6b6b;
  box-shadow: inset 0 0 4px #6b6b6b;
}

.main .profile-page-cont .profile .profile-info ul li {
  display: inline-block;
  margin: 0.5em;
}

.main .profile-page-cont .profile .profile-info ul li:first-child {
  display: block;
}

.main .profile-page-cont .profile .profile-info ul li:last-child {
  display: none;
}

.main .profile-page-cont h2 {
  text-align: center;
  color: #6b6b6b;
  border-top: 1px solid #e2e2e2;
  padding: 0.25em 0 0;
}

footer {
  width: 100%;
  background-color: #006eff;
  color: white;
  text-align: center;
  clear: both;
}

footer p {
  padding: 1em 0;
}

@media screen and (max-width: 935px) {
  header .main-navigation ul li:last-child {
    display: inline;
  }
  .main .site-content {
    width: 75%;
  }
  .main .lsidebar {
    display: none;
  }
  .main .profile-page-cont .profile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  header .welcome {
    font-size: 1em;
  }
  header .main-navigation {
    display: none;
  }
  header .mobile-navigation {
    display: inline-block;
  }
  header .dropdown-menu-items {
    display: block;
  }
  .quick-options {
    display: none;
  }
  .main .site-content {
    width: 100%;
    /**signle question template design */
  }
  .main .site-content .hPostQues {
    display: block;
    float: none;
    text-align: right;
    margin: 1em 0;
  }
  .main .site-content .single-question {
    display: block;
  }
  .main .site-content .single-question .q-meta ul {
    display: block;
    width: 100%;
    text-align: center;
  }
  .main .site-content .single-question .q-details .posted-on {
    float: none;
    text-align: center;
    margin: 0;
  }
  .main .site-content .single-question .q-details .question-title {
    margin: 1em 0 0;
    padding: 0;
  }
  .main .site-content .single-question .q-details .tags {
    float: none;
    margin: 1em 0;
    text-align: center;
  }
  .main .side-bar, .main .lsidebar {
    display: none;
  }
}
